* {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.sidebar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0.2;
  padding: 20px;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
}

.container {
  flex: 1;
}

.sidebar > a {
  background: #eee;
  padding: 10px;
  text-decoration: none;
  color: #212121;
  border-radius: 4px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar > a:hover {
  background: #333;
  color: white;
}

.sidebar > a + a {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  height: 100vh;
}
